<h2>Active Users</h2>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to(user.username, user) %>
        <ul>
            <li><%= "Native Species: #{user.native_species}" %></li>
        </ul>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to('sign up', new_user_path) %>