<h2>Planets In Orbit</h2>

<ul>
  <% @planets.each do |planet| %>
    <li>
      <%= link_to(planet.planet_name, planet) %>
        <ul>
            <li><%= "High Score: #{planet.high_score}" %></li>
            <li><%= "Stage: #{planet.stage}" %></li>
        </ul>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to('build your planet', new_planet_path) %>